*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;
}
header{
    background-color:rgba(113, 135, 185, 0.313);
    padding:20px;
}
header h1{
    text-align: center;
    color: transparent;
    font-size: 3vw;
    font-family:'Times New Roman', Times, serif
}
nav{
    background-color: #333;
    overflow: hidden;
    display: flex;
    flex-direction:row;
}
nav a{
    color: white;
    float: left;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    font-size: 1.3vw;
}
nav a:hover{
    background-color: #344;
    color: white;
}
h1::before{
    content: attr(data-text);
    background-image: linear-gradient(120deg,rgb(255, 167, 3),grey,green);
    -webkit-background-clip: text;
}
h2{
    text-align: center;
    color: #333;
    text-decoration: underline black;
    font-size:1.9vw ;
}
section:nth-child(even){
    background-color: rgb(255, 255, 255);
}
section{
    min-height: 100vh;
} 
h4{
    margin: 10px;
    font-size: 1.4vw;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
}
footer{
    background-color: #333;
    overflow: hidden;
    }
    .an{
        color: white;
        padding: 20px;
        text-decoration: none;
        text-align: center;
        float: left;  
        font-size: 1.2vw;
    }
.an:hover{
    color: white;
}
#c{
    color: silver;
    font-size: 25px;
    font-size: 1.7vw;
}
#c:hover{
    background-color: #333;
}
p{
    text-align:center ;
}
a:hover{
    color: rgb(218, 59, 11);
}
a{
    text-decoration: none;
}
p{
    font-size: 1.2vw;
}
main{
    background-color:rgba(192, 188, 188, 0.185);
    margin:0px;
    border: 1px solid silver;
}
.car{
    display: flex;
    flex-direction: row;
    padding: 1vw;
    font-size: 1.2vw;
    text-decoration: none;
    text-align: center;
    color: white;
}
.car:hover{
    background-color: #334;
    border-radius: 20px;
    width:20%;
    color: white;
}
i:hover{
    background-color:#333;
    }
    i{
        cursor: pointer;
        font-size: 1.2vw;
    }
.an:hover{
  color: white;
}